@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <br />
    <br />
    <abbr title="Phone">P:</abbr>
    +52 55 5245 1528
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:Support@example.com">chakly2558@gmail.com</a><br />
  
</address>
